.venv/*
__pycache__/
*.pyc

# BEGIN slowPush managed block
cves/**
!cves/
!cves/1999/
!cves/2000/
!cves/2001/
!cves/2002/
!cves/2003/
!cves/1999/**
!cves/2000/**
!cves/2001/**
!cves/2002/**
!cves/2003/**
# END slowPush managed block
