.venv/*
__pycache__/
*.pyc

# BEGIN slowPush managed block
cves/**
!cves/
!cves/2019/
!cves/2019/12xxx/
!cves/2019/13xxx/
!cves/2019/14xxx/
!cves/2019/15xxx/
!cves/2019/16xxx/
!cves/2019/17xxx/
!cves/2019/18xxx/
!cves/2019/19xxx/
!cves/2019/1xxx/
!cves/2019/20xxx/
!cves/2019/25xxx/
!cves/2019/2xxx/
!cves/2019/12xxx/**
!cves/2019/13xxx/**
!cves/2019/14xxx/**
!cves/2019/15xxx/**
!cves/2019/16xxx/**
!cves/2019/17xxx/**
!cves/2019/18xxx/**
!cves/2019/19xxx/**
!cves/2019/1xxx/**
!cves/2019/20xxx/**
!cves/2019/25xxx/**
!cves/2019/2xxx/**
# END slowPush managed block
