.venv/*
__pycache__/
*.pyc

# BEGIN slowPush managed block
cves/**
!cves/
!cves/2021/
!cves/2021/32xxx/
!cves/2021/33xxx/
!cves/2021/34xxx/
!cves/2021/35xxx/
!cves/2021/36xxx/
!cves/2021/37xxx/
!cves/2021/38xxx/
!cves/2021/39xxx/
!cves/2021/3xxx/
!cves/2021/40xxx/
!cves/2021/41xxx/
!cves/2021/42xxx/
!cves/2021/43xxx/
!cves/2021/44xxx/
!cves/2021/32xxx/**
!cves/2021/33xxx/**
!cves/2021/34xxx/**
!cves/2021/35xxx/**
!cves/2021/36xxx/**
!cves/2021/37xxx/**
!cves/2021/38xxx/**
!cves/2021/39xxx/**
!cves/2021/3xxx/**
!cves/2021/40xxx/**
!cves/2021/41xxx/**
!cves/2021/42xxx/**
!cves/2021/43xxx/**
!cves/2021/44xxx/**
# END slowPush managed block
